<div class="container-fluid">
  <hr>

  <h1 class ="row">Sign Up</h1>

  <main>
      <div class = "row">
          <label for="newUsername">Enter Username</label>
          <input type="text" name="newUsername" id="newUsername">
      </div>

      <div class = "row">
          <label for="newPassword">Enter password</label>
          <input type="text" name="newPassword" id="newPassword">
      </div>

      <div class="gallery" id="url">
          <button onclick="login()" data-name="Sign Up">Login</button>
          <button onclick="settings()" data-name="setting">Settings</button>
      </div>

  </main>
  <hr>

</div>
