<hr>

<div class="container-fluid">

  <h1 class ="row">Login</h1>

  <main>
      <div class = "row">
          <label for="username">Username</label>
          <input type="text" name="username" id="username">
      </div>

      <div class = "row">
          <label for="password">password</label>
          <input type="text" name="password" id="password">
      </div>

      <div class="gallery" id="url">
          <button onclick="login()" data-name="login">Login</button>
          <button onclick="settings()" data-name="setting">Settings</button>
      </div>

  </main>
  <hr>

</div>
